body {
  background: linear-gradient(hsl(171,29%,73%), hsl(180,60%,94%) 44%);
}

.marked-duplicate {
  background: hsla(0,62%,21%,0.35);
  color: hsla(0,0%,78%,1);
}
.marked-duplicate-match {
  background: hsla(91,66%,14%,0.3);
}

.unmarked-duplicate {
  background: hsla(0,46%,49%,1);
}
.unmarked-duplicate-match {
  background: hsla(91,38%,58%,1);
}

.legend-item {
  height: 25px;
  padding: 5px 10px 0;
  margin:5px 10px;
  border-radius: 3px;
}

#highlightNotification {
  background: #fcff52;
  margin-bottom:15px;
  height: 40px;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 5px;
  box-shadow: gray 3px 3px 10px;
  display: none;
  animation: pulse 3.1s ease-out;

}
@keyframes pulse {
  0% {
    background-color: #fcff52;
    opacity: 0.5;
    display: none;
  }
  100% {
    background-color: #FF4136;
    opacity: 1;
    display: block;
  }
}

#legend {
  display: none;
  animation: slide-down .3s ease-out;
  width: 170px;
  padding: 1px 0;
}
@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-30%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-30%); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}

.popup-title {
  font-weight: 300;
  color: hsl(0,0%,20%);
  font-size: 1.6em;
  padding-left: 10px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  width: 150px;
}
/*TODO copy my colors to other browser prefixes */
#findDuplicates, #clearHighlights {
   width: 70px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));

   background: -webkit-linear-gradient(top, #3e529d, #348dc7);

   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5.5px 17px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   border-width: 0;
   -webkit-box-shadow: rgba(71,71,71,1) 1px 1px 2px;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e6e6e6;
   font-size: 13px;
   font-weight: 300;
   text-decoration: none;
   vertical-align: middle;
}
#findDuplicates:hover, #clearHighlights:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
#findDuplicates:active, #clearHighlights:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
